
<div id="surveyContainer"></div>
<p id = "parse-platform-info" hidden><%=platforms%></p>
<div id="evaluation"></div>
<div class="container">
    <div class="row">
        <div class = "col"></div>
        <div class="col" id="bar-plot"></div>
        <div class = "col"></div>
    </div>

</div>

<script type="text/javascript" src="/public/js/home.js"></script>
