<div class="main" style="padding-left: 20%; padding-right: 20%; width:100%">
    <div class="main_feedback" style="text-align: center">
    <h3>Help us to improve!</h3>
    <h3>Tried these platforms before? Add your ratings here!</h3>
    <h3>You can also add a new platform!</h3>
    </div>
    <div id="surveyContainer"></div>
</div>

<script type="text/javascript" src="/public/js/input.js"></script>
