<div>
    <p>Help us to improve!</p>
    <p>Tried these platforms before? Add your ratings here!</p>
    <p>You can also add a new platform!</p>
    <p><%=platforms[0].name.toString()%></p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-platform-modal">
        Submit a new platform that you used!
    </button>


</div>


<div class="modal fade" id="new-platform-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="new-platform-form" action="/registerNewPlatform" method="post">
                    <div>

                        <label>Platform Name</label>
                        <input type="text" name="platformName"/>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary btn-sm" value="Submit"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>