<div>
    <p>Help us to improve!</p>
    <p>Tried these platforms before? Add your ratings here!</p>
    <p>You can also add a new platform!</p>
    <div id="surveyContainer"></div>
    <!--<p><%=platforms[0].name.toString()%></p>-->

</div>

<script type="text/javascript" src="/public/js/input.js"></script>
