<!DOCTYPE html>

<html>
<head>


    <!-- Latest compiled and minified CSS -->
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <!--jQuery-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</head>

<body style="background-color:#f0f0f5;">

<%- body %>

</body>

</html>